.header-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
  }
  .header-bar .header__nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header-bar .header__nav-bar .header__button {
    list-style-type: none;
    padding: 10px;
    margin: 5px auto;
  }
  .header-bar .header__nav-bar .header__button a {
    text-decoration: none;
    color: #000000;
  }
  .header-bar .header__nav-bar .header__button--contact {
    border: 1px solid #000000;
    border-radius: 4px;
  }
}
.intro-box {
  background-color: #ffffff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.intro-box div h4 {
  padding: 15px 10px;
  font-size: 20px;
}
.intro-box div h4 span {
  font-size: 18px;
}
.intro-box div h1 {
  padding: 10px 10px;
  font-size: 40px;
}
.intro-box img {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .intro-box img {
    display: inline;
    height: 70%;
    max-height: 300px;
    width: 70%;
    max-width: 300px;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 90%;
  margin: 50px auto;
}
.about-me .about-me__header {
  font-size: 32px;
  margin-top: 10px;
}
.about-me .about-me__image {
  height: 60%;
  max-height: 60%;
  width: 60%;
  max-width: 60%;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.about-me .about-me__text-section p {
  padding: 10px 30px;
}

@media screen and (min-width: 768px) {
  .about-me {
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: 3fr 7fr;
    grid-template-areas: "image header" "image text";
    background-color: #ffffff;
    width: 80%;
    margin: 50px auto;
    gap: 20px;
  }
  .about-me .about-me__header {
    grid-area: header;
    padding-left: 30px;
    align-content: flex-end;
  }
  .about-me .about-me__image {
    grid-area: image;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .about-me .about-me__text-section {
    grid-area: text;
    align-content: flex-start;
    height: 100%;
    max-height: 100%;
  }
  .about-me .about-me__text-section p {
    font-size: 1.2rem;
    padding: 5px 30px;
  }
}
.technical-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
}
.technical-skills .technical-skills__title {
  padding: 20px;
}
.technical-skills .technical-skills__text {
  padding: 20px;
}
.technical-skills .technical-skills__card-list {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  margin: 10px;
}
.technical-skills .technical-skills__card-list li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
}
.technical-skills .technical-skills__card-list li .technical-skills__card-image {
  height: 60%;
  width: 60%;
  max-width: 60%;
  max-height: 60%;
}
.technical-skills .technical-skills__card-list li .technical-skills__card-text {
  font-size: 3vw;
}

@media screen and (min-width: 768px) {
  .technical-skills {
    padding: 20px;
  }
  .technical-skills .technical-skills__text {
    font-size: 1.2rem;
  }
  .technical-skills .technical-skills__card-list {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 10px;
  }
  .technical-skills .technical-skills__card-list li {
    list-style-type: none;
    padding: 10px;
  }
  .technical-skills .technical-skills__card-list li .technical-skills__card-image {
    height: 60%;
    width: 60%;
    max-width: 80%;
    max-height: 80%;
  }
  .technical-skills .technical-skills__card-list li .technical-skills__card-text {
    font-size: 1.2vw;
  }
}
.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  background-color: #ffffff;
  width: 80%;
}
.project-container .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  margin: 20px auto;
  width: 90%;
  max-width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
}
.project-container .project-card .project__project-image-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #e3f6f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.project-container .project-card .project__project-image-container .project__project-image {
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  padding-top: 10%;
}
.project-container .project-card .project__content-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.project-container .project-card .project__button-container {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.project-container .project-card .project__button-container .project__button {
  background-color: #ffffff;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 5px;
}
.project-container .project-card .project__button-container .project__button p {
  font-size: max(1.6vw, 1em);
}
.project-container .project-card .project__button-container .project__button .project__button-symbol {
  width: 50%;
  height: 50%;
  max-width: 25px;
  max-height: 25px;
}
.project-container .project-card--extra {
  display: none;
}

@media screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    justify-items: center;
    width: 80%;
  }
  .project-container .project-card {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 10px;
  }
  .project-container .project-card .project__project-image {
    width: 60%;
    max-width: 60%;
    height: 60%;
    max-height: 60%;
  }
  .project-container .project-card .project__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  .project-container .project-card .project__button-container {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .project-container .project-card .project__button-container .project__button {
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    max-width: 50%;
    margin: 0 5px;
  }
  .project-container .project-card .project__button-container .project__button p {
    font-size: min(1.6vw, 1em);
    color: #000000;
  }
  .project-container .project-card .project__button-container .project__button .project__button-symbol {
    width: 50%;
    height: 50%;
    max-width: 30px;
    max-height: 30px;
  }
  .project-container .project-card--extra {
    display: flex;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
}
.footer .footer__website-link-container {
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
.footer .footer__website-link-container .footer__website-link {
  display: flex;
  flex-direction: row;
  min-width: 40px;
  width: 40%;
  max-width: 50px;
  background-color: white;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 50%;
}
.footer .footer__website-link-container .footer__website-link img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.footer .email {
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .footer__website-link-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-end;
  }
  .footer .footer__website-link-container .footer__website-link {
    display: flex;
    flex-direction: row;
    min-width: 40px;
    width: 40%;
    max-width: 50px;
    background-color: white;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 50%;
  }
  .footer .footer__website-link-container .footer__website-link img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .footer .email {
    margin: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}/*# sourceMappingURL=styles.css.map */