.header-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: yellow;
  }
  .header-bar .header__nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header-bar .header__nav-bar .header__button {
    list-style-type: none;
    padding: 10px;
    margin: 5px auto;
  }
  .header-bar .header__nav-bar .header__button a {
    text-decoration: none;
  }
  .header-bar .header__nav-bar .header__button--nav {
    background-color: lightblue;
  }
  .header-bar .header__nav-bar .header__button--contact {
    background-color: lightcoral;
    border: 1px solid black;
    border-radius: 4px;
  }
}
.intro-box {
  background-color: yellow;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.intro-box h4 {
  padding: 15px 10px;
  font-size: 20px;
}
.intro-box h4 span {
  font-size: 18px;
}
.intro-box h1 {
  padding: 10px 10px;
  font-size: 40px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  width: 80%;
  margin: 50px auto;
}
.about-me .about-me__header {
  font-size: 32px;
  margin-top: 10px;
}
.about-me .about-me__image {
  height: 60%;
  max-height: 60%;
  width: 60%;
  max-width: 60%;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.about-me .about-me__text-section p {
  padding: 20px 30px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .about-me {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "image header" "image text";
    background-color: yellow;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
  }
  .about-me .about-me__header {
    grid-area: header;
    padding-left: 30px;
  }
  .about-me .about-me__image {
    grid-area: image;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 90%;
    max-height: 90%;
  }
  .about-me .about-me__text-section {
    grid-area: text;
  }
  .about-me .about-me__text-section p {
    font-size: 1rem;
  }
}
.technical-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: yellow;
}
.technical-skills .technical-skills__title {
  padding: 20px;
}
.technical-skills .technical-skills__text {
  padding: 20px;
}
.technical-skills .technical-skills__card-list {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
}
.technical-skills .technical-skills__card-list li {
  list-style-type: none;
  padding: 10px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
}
.technical-skills .technical-skills__card-list li .technical-skills__card-image {
  height: 60%;
  width: 60%;
  max-width: 60%;
  max-height: 60%;
}
.technical-skills .technical-skills__card-list li .technical-skills__card-text {
  font-size: 3vw;
}

@media screen and (min-width: 768px) {
  .technical-skills {
    padding: 20px;
  }
  .technical-skills .technical-skills__card-list {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
  }
  .technical-skills .technical-skills__card-list li {
    list-style-type: none;
    padding: 10px;
    background-color: green;
  }
  .technical-skills .technical-skills__card-list li .technical-skills__card-image {
    height: 60%;
    width: 60%;
    max-width: 80%;
    max-height: 80%;
  }
  .technical-skills .technical-skills__card-list li .technical-skills__card-text {
    font-size: 1.5vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.project-container .project-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
  margin: 20px auto;
  gap: 10px;
  justify-items: center;
}
.project-container .project-list .project-list__project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
}
.project-container .project-list .project-list__project-card .project-list__project-image {
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
}/*# sourceMappingURL=styles.css.map */