@use "./variables" as *;

.header-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    background-color: $main-background-color;

    .header__nav-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 40%;
      justify-content: space-evenly;
      height: fit-content;

      .header__button {
        list-style-type: none;
        padding: 10px;
        margin: 5px auto;
        a {
          text-decoration: none;
          color: $primary-color;
        }

        &:hover {
          background-color: darken($main-background-color, 10%);
          transition: all 0.25s ease-in-out;
          border-radius: 3px;
        }
      }

      .header__button--contact {
        border: 2px solid $primary-color;
        padding: 8px;
        border-radius: 4px;

        &:hover {
          background-color: $primary-color;

          a {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
}
