@use "./variables" as *;

.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  background-color: $main-background-color;
  width: 80%;

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $main-background-color;
    margin: 20px auto;
    width: 90%;
    max-width: 90%;
    height: fit-content;
    max-height: 100%;
    padding: 2px;

    &:hover {
      background-color: darken($project-background, 10%);
      transition: all 0.25s ease-in-out;
      border-radius: 5px;
    }

    .project__project-image-container {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: $project-background;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      .project__project-image {
        width: 80%;
        max-width: 80%;
        height: 80%;
        max-height: 80%;
        padding-top: 10%;
      }
    }

    .project__content-container {
      background-color: $main-background-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 15px;
    }

    .project__button-container {
      background-color: $main-background-color;
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;

      .project__button {
        background-color: $main-background-color;
        border: 1px solid $primary-color;
        text-decoration: none;
        padding: 5px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        margin: 0 5px;

        p {
          font-size: max(1.6vw, 1em);
          color: $primary-color;
        }

        .project__button-symbol {
          width: 50%;
          height: 50%;
          max-width: 25px;
          max-height: 25px;
        }

        &:hover {
          background-color: darken($main-background-color, 10%);
          transition: all 0.25s ease-in-out;
        }
      }
    }
    &--extra {
      display: none;
    }
    &--extra-desktop {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 20px auto;
    padding: 20px;
    gap: 20px;

    .project-card {
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 10px;

      .project__button-container {
        .project__button {
          max-width: 50%;

          p {
            font-size: min(1.6vw, 1em);
          }

          .project__button-symbol {
            max-width: 30px;
            max-height: 30px;
          }
        }
      }
      &--extra {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .project-card {
      .project__button-container {
        .project__button {
          p {
          }

          .project__button-symbol {
          }
        }
      }
      &--extra-desktop {
        display: flex;
      }
    }
  }
}
